{% extends 'base.html' %}
{% block title %}Confirm Membership - {% endblock title %}

{% load static %}
 {% load widget_tweaks %}
{% block content %}
  <div class="container" style="padding-top: 2%">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">

            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block" > <img src={%static "Member/img/confirmation.jpg" %} class="rounded" alt="..." style="width: 500px"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Membership Purchase Confirmation!</h1>
                  </div>
                    {% if error %}<div class="alert alert-danger" role="alert">{{ error_message }}</div>{% endif %}

                <div class="text-left">
                      <p class="text-success  small">You want to Purchase <strong>{{ membership.title}}</strong> Membership?</p>
                      <p class="text-success mb-0 small">Price: <strong>{{ membership.price}}py </strong></p>
                      <p class="text-success mb-0 small">Month: <strong>{{ membership.months}} months</strong> </p>
                      <p class="text-success mb-0 small">Commission: <strong>{{ membership.commission_percentage}}%</strong> </p>
                      <p class="text-success mb-0 small">Max Referrals: <strong>{{ membership.max_referrals}}</strong></p>
                      <p class="text-success small">Max Levels: <strong>{{ membership.max_levels}} levels</strong></p>
                  </div>
                     <form method="post" novalidate>
                      {% csrf_token %}

                      {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                      {% endfor %}

                      {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                        <p>Wrong Input!</p>

                          {% for error in user_form.non_field_errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}

                      {% for field in form.visible_fields %}
                        <div class="form-group">
                          {{ field.label_tag }}

                          {% if form.is_bound %}
                            {% if field.errors %}
                              {% render_field field class="form-control is-invalid" %}
                              {% for error in field.errors %}
                                <div class="invalid-feedback">
                                  {{ error }}
                                </div>
                              {% endfor %}
                            {% else %}
                              {% render_field field class="form-control is-valid" %}
                            {% endif %}
                          {% else %}
                            {% render_field field class="form-control" %}
                          {% endif %}

                          {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                          {% endif %}
                        </div>
                      {% endfor %}


                      <button type="submit" class="btn btn-info">Confirm</button>
                    </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  </div>

{% endblock content %}